_*.ipynb
analyses/**/*.html
.ipynb_checkpoints
work
.nextflow*
.vscode
*.code-workspace
rik*.json
containers
deploy
_scratchpad.*
presentations
paper
zenodo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

deploy
data
