// default parameters
params {
    publish_dir_mode = "link"
    with_genentech = false
}

//enable singularity
singularity.enabled = true
singularity.autoMounts = true

// ensure that no user libraries get mounted into the container
process.containerOptions = "--no-home"

// profiles define how to run the workflow on your HPC or cloud.
// Adjust the settings as appropriate
profiles {
    icbi_lung {
        params.publish_dir_mode = "link"

        process {
            // Only use nodes of the newer CPU generation
            // GPU nodes will be requiested on a per-process basis for some processes.
            executor = 'sge'
            penv = 'smp'
            clusterOptions = '-V -R y -S /bin/bash -q all.q@apollo-0[0-9]'

            // special configuration for the two GPU processes
            withName: "(build_atlas:.*SCVI.*|build_atlas:.*INTEGRATE_INTO_ATLAS)" {
                // support for nvidia https://lucacozzuto.medium.com/using-gpu-within-nextflow-19cd185d5e69
                containerOptions = "--nv --no-home"
                clusterOptions = '-V -S /bin/bash -q all.q@apollo-15'
            }
        }

    }
}

// include workflow-specific configurations
if (params.workflow == "build_atlas") {
    includeConfig 'conf/build_atlas.config'
} else {
    includeConfig 'conf/downstream_analyses.config'
}
