params {
    publish_dir_mode = "link"
    singularity_pull_docker_container = false
}

singularity.enabled = true
singularity.autoMounts = true
process {
    containerOptions = "--no-home"
    // Only use nodes of the newer CPU generation
    // GPU nodes will be requiested on a per-process basis for some processes.
    clusterOptions = '-V -S /bin/bash -q all.q@apollo-0[0-9]'
}

if (params.workflow == "build_atlas") {
    includeConfig 'conf/build_atlas.config'
} else {
    includeConfig 'conf/downstream_analyses.config'
}
