includeConfig 'conf/modules.config'


params {
    input = "tables/samplesheet_scrnaseq_preprocessing.csv"
    outdir = "data/20_integrate_scrnaseq_data"
    publish_dir_mode = "link"
    enable_conda = false
}

process {
    withName: P11_MERGE_ALL {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        cpus = 22
        memory = 200.GB
    }
}

