params {
    bam_files = "/home/sturm/Downloads/lung_scvelo/*.bam"
    gtf = "/data/genomes/hg38/annotation/gencode/gencode.v29.primary_assembly.annotation.gtf.gz"
    repeat_mask = "/data/genomes/hg38/annotation/ucsc/hg38_rmsk.gtf"
    outdir = "/home/sturm/Downloads/lung_scvelo/results"
}

process {
    withName: prepare_bam {
        container = "https://depot.galaxyproject.org/singularity/velocyto.py%3A0.17.17--py38h17adfb0_5"
        cpus = 8
    }
    withName: velocyto {
        cpus = 2
        container = "https://depot.galaxyproject.org/singularity/velocyto.py%3A0.17.17--py38h17adfb0_5"
        publishDir = [path: "${params.outdir}", mode: 'copy']
        memory = 14.GB
    }
}

resume = true
singularity.enabled = true
singularity.autoMounts = true
