singularity.runOptions = "--env MKL_NUM_THREADS=1,OPENBLAS_NUM_THREADS=1,OMP_NUM_THREADS=1"

process {

    /***************************************************
     * Notebooks
     ***************************************************/

    withName: NEUTROPHIL_SUBCLUSTERING {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: "${params.outdir}/neutrophils/subclustering",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }
    withName: NEUTROPHIL_ANALYSIS {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: "${params.outdir}/neutrophils/neutrophil_analysis",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }
    withName: NEUTROPHIL_ANALYSIS_VELOCYTO {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: "${params.outdir}/neutrophils/neutrophil_analysis_velocyto",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        cpus = 8
    }

    withName: STRATIFY_PATIENTS {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: "${params.outdir}/stratify_patients/stratification",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        cache = 'lenient'
    }
    withName: STRATIFY_PATIENTS_FIGURES {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: "${params.outdir}/stratify_patients/figures",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }

    withName: ".*plots_and_comparisons:COMPARE_GROUPS" {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: { "${params.outdir}/plots_and_comparisons/91_compare_groups/${parameters.comparison}" },
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        cpus = 11
    }
    withName: ".*plots_and_comparisons:COMPARE_GROUPS_PLOTS" {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: { "${params.outdir}/plots_and_comparisons/92_compare_groups_plots" },
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }

    withName: "(CELL_TYPE_MARKERS_CORE_ATLAS|OVERVIEW_PLOTS_CORE_ATLAS|OVERVIEW_PLOTS_EXTENDED_ATLAS)" {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: { "${params.outdir}/plots_and_comparisons/${meta.id}" },
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        cpus = 16
    }

    withName: COMPARE_PLATFORMS {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: { "${params.outdir}/plots_and_comparisons/95_compare_platforms" },
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }


    withName: ".*plots_and_comparisons:SCCODA.*" {
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        publishDir = [
            path: { "${params.outdir}/plots_and_comparisons/98_cell_type_composition/${ meta.id }/${parameters.reference_cell_type}" },
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        // tensorflow uses ~340% cpu
        cpus = 4
    }

    /***************************************************
     * SCISSOR
     ***************************************************/

    // Don't need to publish those!
    //
    // withName: ".*scissor:SPLIT_ANNDATA" {
    //      [
    //         path: "${params.outdir}/scissor/adata_by_patient",
    //         mode: params.publish_dir_mode
    //     ]
    // }
    // withName: ".*scissor:H5AD_TO_SCE" {
    //     [
    //         path: "${params.outdir}/scissor/adata_by_patient",
    //         mode: params.publish_dir_mode
    //     ]
    // }
    withName: ".*scissor:SCISSOR_TCGA" {
        // errorStrategy = 'ignore'
        ext.ignore_error = true
        container = "${baseDir}/containers/2020-pircher-scissor2_2022-04-13.sif"
        // conda = "/data/scratch/sturm/conda/envs/2020-pircher-scissor2"
        publishDir = [
            path: { "${params.outdir}/scissor_tcga/scissor_by_sample/${id}" },
            mode: params.publish_dir_mode
        ]
    }


    /***************************************************
     * DE analysis
     ***************************************************/

    withName: ".*de_analysis.*:DE_DESEQ2" {
        errorStrategy = "ignore"
    }
    withName: ".*de_analysis:PREPARE_FOR_DE" {
        ext.kernel = "python3"
        container = "${baseDir}/containers/pircher-sc-integrate2_2021-11-27_patched_annotation_helper.sif"
        publishDir = [
            path: "${params.outdir}/de_analysis/prepare_for_de",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_tumor_normal:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/de_analysis/tumor_normal/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_tumor_normal:MAKE_PSEUDOBULK" {
        publishDir = [
            path: "${params.outdir}/de_analysis/tumor_normal/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_tumor_normal:DE_DESEQ2" {
        publishDir = [
            path: "${params.outdir}/de_analysis/tumor_normal/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_luad_lusc:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/de_analysis/luad_lusc/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_luad_lusc:MAKE_PSEUDOBULK" {
        publishDir = [
            path: "${params.outdir}/de_analysis/luad_lusc/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_luad_lusc:DE_DESEQ2" {
        publishDir = [
            path: "${params.outdir}/de_analysis/luad_lusc/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_early_advanced:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/de_analysis/early_advanced/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_early_advanced:MAKE_PSEUDOBULK" {
        publishDir = [
            path: "${params.outdir}/de_analysis/early_advanced/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_early_advanced:DE_DESEQ2" {
        publishDir = [
            path: "${params.outdir}/de_analysis/early_advanced/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_b_desert:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/de_analysis/b_desert/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_b_desert:MAKE_PSEUDOBULK" {
        publishDir = [
            path: "${params.outdir}/de_analysis/b_desert/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_b_desert:DE_DESEQ2" {
        publishDir = [
            path: "${params.outdir}/de_analysis/b_desert/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_t_desert:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/de_analysis/t_desert/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_t_desert:MAKE_PSEUDOBULK" {
        publishDir = [
            path: "${params.outdir}/de_analysis/t_desert/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_t_desert:DE_DESEQ2" {
        publishDir = [
            path: "${params.outdir}/de_analysis/t_desert/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_m_desert:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/de_analysis/m_desert/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_m_desert:MAKE_PSEUDOBULK" {
        publishDir = [
            path: "${params.outdir}/de_analysis/m_desert/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis_m_desert:DE_DESEQ2" {
        publishDir = [
            path: "${params.outdir}/de_analysis/m_desert/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }

    /*************************************************
     * infercnv
     *************************************************/
    withName: ".*infercnv:RUN_SCEVAN" {
        ext.ignore_error = true
        publishDir = [
            path: { "${params.outdir}/infercnv/scevan/${id}" },
            mode: params.publish_dir_mode
        ]
        container = "${baseDir}/containers/2020-pircher-scevan_2022-04-12.sif"
        // conda = '/home/panizzolo/.conda/envs/r_env'
        cpus = 4
    }
    withName: ".*infercnv:RUN_INFERCNVPY" {
        ext.ignore_error = true
        publishDir = [
            path: { "${params.outdir}/infercnv/infercnvpy/${id}" },
            mode: params.publish_dir_mode
        ]
        container = "${baseDir}/containers/pircher-sc-integrate2_2022-05-08.sif"
        // conda = '/home/panizzolo/.conda/envs/infercnv2'
        cpus = 1
    }

}

