process {


    withName: STRATIFY_PATIENTS {
        container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/stratify_patients",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }

    /***************************************************
     * SCISSOR
     ***************************************************/

    withName: ".*scissor:SPLIT_ANNDATA" {
        container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/scissor/adata_by_patient",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*scissor:H5AD_TO_SCE" {
        publishDir = [
            path: "${params.outdir}/scissor/adata_by_patient",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*scissor:SCISSOR" {
        errorStrategy = 'ignore'
        conda = "/data/scratch/sturm/conda/envs/2020-pircher-scissor"
        publishDir = [
            path: "${params.outdir}/scissor/scissor_by_sample",
            mode: params.publish_dir_mode
        ]
    }


    /***************************************************
     * DE TUMOR/NORMAL
     ***************************************************/

    withName: ".*de_tumor_normal:PREPARE_FOR_DE" {
        ext.kernel = "python3"
        container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/de_tumor_normal/41_prepare_for_de",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_tumor_normal:DE_EDGER_TUMOR_NORMAL" {
        publishDir = [
            path: "${params.outdir}/de_tumor_normal/de_edger",
            mode: params.publish_dir_mode
        ]
    }

    /****************************************************
     * Squidpy
     ****************************************************/

    withName: ".*cell2cell:SPLIT_ANNDATA" {
        container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/cell2cell/adata_by_sample",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*cell2cell:SQUIDPY" {
        errorStrategy = 'ignore'
        conda = "/data/scratch/sturm/conda/envs/2020-pircher-squidpy"
        publishDir = [
            path: "${params.outdir}/cell2cell/squidpy",
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }


    /*************************************************
     * infercnv
     *************************************************/
    withName: ".*infercnv:SPLIT_ANNDATA" {
        container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
    }
    withName: ".*infercnv:RUN_SCEVAN" {
        publishDir = [
            path: { "${params.outdir}/infercnv/scevan/${id}" },
            mode: params.publish_dir_mode
        ]
        conda = '/home/panizzolo/.conda/envs/r_env'
        cpus = 4
    }
    withName: ".*infercnv:RUN_INFERCNVPY" {
        publishDir = [
            path: { "${params.outdir}/infercnv/infercnvpy/${id}" },
            mode: params.publish_dir_mode
        ]
        conda = '/home/panizzolo/.conda/envs/infercnv2'
        cpus = 1
    }

}

