process {

    /***************************************************
     * Add additional datasets
     ***************************************************/

    withName: SCQC {
        container = "${baseDir}/containers/scqc.sif"
        publishDir = [
            path: { "${params.outdir}/01_qc_and_filtering/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }
    withName: SCQC_MERGE_STATS {
        publishDir = [
            path: "${params.outdir}/01_qc_and_filtering",
            mode: params.publish_dir_mode
        ]
    }
    withName: INTEGRATE_INTO_ATLAS {
        cpus = 16
        containerOptions = "--nv --no-home"
        clusterOptions = '-V -S /bin/bash -q all.q@apollo-15'
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        publishDir = [
            path: "${params.outdir}/02_integrate_into_atlas",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        cache = 'lenient'
    }

    /***************************************************
     * Notebooks
     ***************************************************/

    withName: NEUTROPHIL_SUBCLUSTERING {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        // container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/neutrophil_subclustering",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }

    withName: STRATIFY_PATIENTS {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        // container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/stratify_patients",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }

    /***************************************************
     * SCISSOR
     ***************************************************/

    withName: ".*scissor:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/scissor/adata_by_patient",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*scissor:H5AD_TO_SCE" {
        publishDir = [
            path: "${params.outdir}/scissor/adata_by_patient",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*scissor:SCISSOR" {
        // errorStrategy = 'ignore'
        ext.ignore_error = true
        conda = "/data/scratch/sturm/conda/envs/2020-pircher-scissor"
        publishDir = [
            path: { "${params.outdir}/scissor/scissor_by_sample/${id}" },
            mode: params.publish_dir_mode
        ]
    }


    /***************************************************
     * DE analysis
     ***************************************************/

    withName: ".*de_analysis:PREPARE_FOR_DE" {
        ext.kernel = "python3"
        container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/de_analysis/prepare_for_de",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:SPLIT_ANNDATA_TUMOR_NORMAL" {
        publishDir = [
            path: "${params.outdir}/de_analysis/tumor_normal/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:MAKE_PSEUDOBULK_TUMOR_NORMAL" {
        publishDir = [
            path: "${params.outdir}/de_analysis/tumor_normal/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:DE_DESEQ2_TUMOR_NORMAL" {
        publishDir = [
            path: "${params.outdir}/de_analysis/tumor_normal/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }

    withName: ".*de_analysis:PREPARE_ANNDATA_LUAD_LSCC" {
        publishDir = [
            path: "${params.outdir}/de_analysis/luad_lscc/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:MAKE_PSEUDOBULK_LUAD_LSCC" {
        publishDir = [
            path: "${params.outdir}/de_analysis/luad_lscc/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:DE_DESEQ2_LUAD_LSCC" {
        errorStrategy = 'ignore'
        publishDir = [
            path: "${params.outdir}/de_analysis/luad_lscc/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }

    withName: ".*de_analysis:PREPARE_ANNDATA_EARLY_ADVANCED" {
        publishDir = [
            path: "${params.outdir}/de_analysis/early_advanced/adata_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:MAKE_PSEUDOBULK_EARLY_ADVANCED" {
        publishDir = [
            path: "${params.outdir}/de_analysis/early_advanced/pseudobulk_by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*de_analysis:DE_DESEQ2_EARLY_ADVANCED" {
        errorStrategy = 'ignore'
        publishDir = [
            path: "${params.outdir}/de_analysis/early_advanced/de_deseq2",
            mode: params.publish_dir_mode
        ]
    }

    /****************************************************
     * Squidpy
     ****************************************************/

    withName: ".*cell2cell:SPLIT_ANNDATA" {
        publishDir = [
            path: "${params.outdir}/cell2cell/adata_by_sample",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*cell2cell:SQUIDPY" {
        // errorStrategy = 'ignore'
        ext.ignore_error = true
        conda = "/data/scratch/sturm/conda/envs/2020-pircher-squidpy"
        publishDir = [
            path: { "${params.outdir}/cell2cell/squidpy/${id}" },
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }
    withName: ".*cell2cell:MAKE_CPDB_H5AD" {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        // container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/cell2cell/cpdb_h5ad",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
    }


    /*************************************************
     * infercnv
     *************************************************/
    withName: ".*infercnv:RUN_SCEVAN" {
        ext.ignore_error = true
        publishDir = [
            path: { "${params.outdir}/infercnv/scevan/${id}" },
            mode: params.publish_dir_mode
        ]
        conda = '/home/panizzolo/.conda/envs/r_env'
        cpus = 4
    }
    withName: ".*infercnv:RUN_INFERCNVPY" {
        ext.ignore_error = true
        publishDir = [
            path: { "${params.outdir}/infercnv/infercnvpy/${id}" },
            mode: params.publish_dir_mode
        ]
        conda = '/home/panizzolo/.conda/envs/infercnv2'
        cpus = 1
    }

    /*************************************************
     * plots and comparisons
     *************************************************/
    withName: ".*plots_and_comparisons:COMPARE_GROUPS" {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        // container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/plots_and_comparisons/91_compare_groups",
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        cpus = 11
    }

    withName: ".*plots_and_comparisons:SCCODA" {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        // container = "${baseDir}/containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: { "${params.outdir}/plots_and_comparisons/98_cell_type_composition/${ meta.id }" },
            mode: params.publish_dir_mode
        ]
        ext.kernel = "python3"
        // tensorflow uses ~340% cpu
        cpus = 4
    }
}

