process {
    withName: SCQC {
        container = "containers/scqc.sif"
        publishDir = [
            path: { "${params.outdir}/integrate_datasets/02_qc_and_filtering/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }
    withName: SCQC_MERGE_STATS {
        publishDir = [
            path: "${params.outdir}/integrate_datasets/02_qc_and_filtering",
            mode: params.publish_dir_mode
        ]
    }
    withName: SCVI_SEED {
        // support for nvidia https://lucacozzuto.medium.com/using-gpu-within-nextflow-19cd185d5e69
        containerOptions = "--nv --no-home"
        clusterOptions = '-V -S /bin/bash -q all.q@apollo-15'
        container = "containers/pircher-sc-integrate2_centos7.sif"
        cpus = 4
        publishDir = [
            path: "${params.outdir}/integrate_datasets/10_seed_annotations_scvi",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*:NEIGHBORS_LEIDEN_UMAP_SEED:MERGE_UMAP_LEIDEN" {
        publishDir = [
            path: "${params.outdir}/integrate_datasets/11_seed_annotations_leiden_umap",
            mode: params.publish_dir_mode
        ]
    }
    withName: ANNOTATE_SEED {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        cpus = 8
        publishDir = [
            path: "${params.outdir}/integrate_datasets/11_seed_annotations",
            mode: params.publish_dir_mode
        ]
    }
    withName: MERGE_ALL {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        cpus = 22
        memory = 200.GB
        publishDir = [
            path: "${params.outdir}/integrate_datasets/21_merge_all",
            mode: params.publish_dir_mode
        ]
    }
    withName: SCVI {
        // support for nvidia https://lucacozzuto.medium.com/using-gpu-within-nextflow-19cd185d5e69
        containerOptions = "--nv --no-home"
        clusterOptions = '-V -S /bin/bash -q all.q@apollo-15'
        container = "containers/pircher-sc-integrate2_centos7.sif"
        cpus = 4
        publishDir = [
            path: "${params.outdir}/integrate_datasets/22_scvi",
            mode: params.publish_dir_mode
        ]
    }
    withName: SCANVI {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        // don't run on GPU due to pytorch internal runtime error
        // runs in reasonable time (20min-ish) without a GPU on a
        // full compute node
        cpus = 44
        publishDir = [
            path: "${params.outdir}/integrate_datasets/23_scanvi",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*:NEIGHBORS_LEIDEN_UMAP_DOUBLET:MERGE_UMAP_LEIDEN" {
        publishDir = [
            path: "${params.outdir}/integrate_datasets/24_scanvi_umap",
            mode: params.publish_dir_mode
        ]
    }
    withName: SOLO {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        cpus = 4
        publishDir = [
            path: "${params.outdir}/integrate_datasets/25_solo",
            mode: params.publish_dir_mode
        ]
    }
    withName: MERGE_SOLO {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
        publishDir = [
            path: "${params.outdir}/integrate_datasets/26_merge_solo",
            mode: params.publish_dir_mode
        ]
    }
    withName: ".*:NEIGHBORS_LEIDEN_UMAP_NODOUBLET:MERGE_UMAP_LEIDEN" {
        publishDir = [
            path: "${params.outdir}/integrate_datasets/27_leiden_umap_nodoublet",
            mode: params.publish_dir_mode
        ]
    }


    /**************************************************
     * ANNOTATION
     **************************************************/
    withName: ANNOTATE_CELL_TYPES_COARSE {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
        publishDir = [
            path: "${params.outdir}/annotate_datasets/31_cell_types_coarse",
            mode: params.publish_dir_mode
        ]
    }
    withName: "annotate_dataset:SPLIT_ANNDATA" {
        container = "containers/pircher-sc-integrate2_centos7.sif"
    }
    withName: ".*:NEIGHBORS_LEIDEN_UMAP_CELL_TYPES:MERGE_UMAP_LEIDEN" {
        publishDir = [
            path: "${params.outdir}/annotate_datasets/31_cell_types_coarse/by_cell_type",
            mode: params.publish_dir_mode
        ]
    }
    withName: ANNOTATE_CELL_TYPES_FINE {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
        publishDir = [
            path: "${params.outdir}/annotate_datasets/32_cell_types_fine",
            mode: params.publish_dir_mode
        ]
    }
    withName: ANNOTATE_CELL_TYPES_EPI {
        conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        // container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        publishDir = [
            path: "${params.outdir}/annotate_datasets/33_cell_types_epi",
            mode: params.publish_dir_mode
        ]
    }
    withName: "annotate_dataset:EXPORT_ATLAS" {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        publishDir = [
            path: "${params.outdir}/annotate_datasets/35_final_atlas",
            mode: params.publish_dir_mode
        ]
    }

    /***************************************************
     * SCISSOR
     ***************************************************/

    withName: "scissor:SPLIT_ANNDATA" {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/scissor/adata_by_sample",
            mode: params.publish_dir_mode
        ]
    }
    withName: "scissor:H5AD_TO_SCE" {
        publishDir = [
            path: "${params.outdir}/scissor/adata_by_sample",
            mode: params.publish_dir_mode
        ]
    }
    withName: "scissor:SCISSOR" {
        errorStrategy = 'ignore'
        conda = "/data/scratch/sturm/conda/envs/2020-pircher-scissor"
        publishDir = [
            path: "${params.outdir}/scissor/scissor_by_sample",
            mode: params.publish_dir_mode
        ]
    }


    /***************************************************
     * DE TUMOR/NORMAL
     ***************************************************/

    withName: "de_tumor_normal:PREPARE_FOR_DE" {
        ext.kernel = "python3"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        publishDir = [
            path: "${params.outdir}/de_tumor_normal/41_prepare_for_de",
            mode: params.publish_dir_mode
        ]
    }
    withName: "de_tumor_normal:DE_EDGER_TUMOR_NORMAL" {
        publishDir = [
            path: "${params.outdir}/de_tumor_normal/de_edger",
            mode: params.publish_dir_mode
        ]
    }

}

