/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */


 params {
    integrate_datasets {
        'SCQC' {
            publish_dir = 'integrate_datasets/02_qc_and_filtering'
            publish_by_id = true
        }
        'SCQC_MERGE_STATS' {
            publish_dir = 'integrate_datasets/02_qc_and_filtering'
        }
        'SCVI_SEED' {
            publish_dir = 'integrate_datasets/10_seed_annotations_scvi'
        }
        'ANNOTATE_SEED' {
            publish_dir = 'integrate_datasets/11_seed_annotations'
        }
        'MERGE_ALL' {
            publish_dir = 'integrate_datasets/21_merge_all'
        }
        'SCVI' {
            publish_dir = 'integrate_datasets/22_scvi'
        }
        'SCANVI' {
            publish_dir = 'integrate_datasets/23_scanvi'
        }
        'SOLO' {
            publish_dir = 'integrate_datasets/25_solo'
        }
        'MERGE_SOLO' {
            publish_dir = 'integrate_datasets/26_merge_solo'
        }
        "NEIGHBORS_LEIDEN_UMAP_SEED" {
            publish_dir = 'integrate_datasets/11_seed_annotations_leiden_umap'
        }
        "NEIGHBORS_LEIDEN_UMAP_DOUBLET" {
            publish_dir = 'integrate_datasets/24_scanvi_umap'
        }
    }

    annotate_datasets {
          // annotate_dataset workflow
        'ANNOTATE_CELL_TYPES_COARSE' {
            publish_dir = 'annotate_datasets/annotate_cell_types_coarse'
        }
        'NEIGHBORS_LEIDEN_UMAP_CELL_TYPES' {
            publish_dir = 'annotate_datasets/split_adata_cell_type'
        }
        'PREPARE_ANNDATA_DE_EPI' {
            publish_dir = 'annotate_datasets/prepare_anndata_de_epi'
        }
        'MAKE_PSEUDOBULK_EPI' {
            publish_dir = 'annotate_datasets/make_pseudobulk_epi'
        }
        'SPLIT_ANNDATA' {
            publish_files = false
        }
        'DE_EDGER_EPI' {
            publish_dir = "annotate_datasets/de_epi/edger"
        }
        'DE_EDGER_EPI_N_CELLS' {
            publish_dir = "annotate_datasets/de_epi/edger_n_cells"
        }
        'DE_MAST_MIXED_EFFECTS_EPI' {
            publish_dir = "annotate_datasets/de_epi/mast"
        }
        'H5AD_TO_SCE_EPI' {
            publish_files = false
        }
        'DE_DREAM_EPI' {
            publish_dir = "annotate_datasets/de_epi/dream"
        }
        'DE_DREAM_EPI_N_CELLS' {
            publish_dir = "annotate_datasets/de_epi/dream_n_cells"
        }


    }
}

process {
    withName: SCQC {
        container = "containers/scqc.sif"
    }
    withName:DE_DREAM_EPI {
        errorStrategy = 'ignore'
    }
    withName:DE_MAST_MIXED_EFFECTS_EPI {
        errorStrategy = 'ignore'
    }
    withName: ANNOTATE_SEED {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        cpus = 8
    }
    withName: MERGE_ALL {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        cpus = 22
        memory = 200.GB
    }
    withName: MERGE_SOLO {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
    }
    withName: ANNOTATE_CELL_TYPES_COARSE {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
    }
    withName: ANNOTATE_CELL_TYPES_FINE {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
    }
    withName: PREPARE_CELLXGENE {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
    }
    withName: PREPARE_FOR_DE {
        // conda = "/home/sturm/.conda/envs/pircher-sc-integrate2"
        container = "containers/pircher-sc-integrate2_centos7.sif"
        ext.kernel = "python3"
        memory = 200.GB
    }
    withName: "SCVI*" {
        // support for nvidia https://lucacozzuto.medium.com/using-gpu-within-nextflow-19cd185d5e69
        containerOptions = "--nv --no-home"
        clusterOptions = '-V -S /bin/bash -q all.q@apollo-15'
        container = "containers/pircher-sc-integrate2_centos7.sif"
        cpus = 4
    }
    withName: SCANVI {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        // don't run on GPU due to pytorch internal runtime error
        // runs in reasonable time (20min-ish) without a GPU on a
        // full compute node
        cpus = 44
    }
    withName: SOLO {
        container = "containers/pircher-sc-integrate2_centos7.sif"
        cpus = 4
    }
}

